.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:var(--background);
  }
  
  .card {
    display: flex;
    flex-direction: column;     /* Empile les éléments verticalement */
    justify-content: center;    /* Centre les éléments verticalement */
    align-items: center;        /* Centre les éléments horizontalement */
    gap: var(--space-md);        /* Espace entre les éléments */
    width: 100%;
    max-width: 424px;
    width: 100%;
  }

 
  
  .description {
    color: var(--text-secondary);
    width: 100%;
    font-size: var(--text-base);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    width: 100%;
  }
  
  .label {
    font-size: var(--text-base);
    font-weight: 600;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--surface);
    border-radius: 8px;
    font-size: var(--text-base, 1rem);
  }
  
  .button {
    text-transform: uppercase;
  }
  
  
  
  .backLink {
    font-size: var(--text-sm);
    font-family: var(--font-secondary);
  }
  
 